@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import "tailwindcss";

@layer utilities {
	.card-title {
		font-family: 'Rubik Wet Paint', cursive;
		font-size: 26px;
		line-height: 1.1;
		font-weight: 400;
	}
}
